<a href="https://colab.research.google.com/github/abdoulayegk/Trailblazers-Qualification-Challenge/blob/main/Build_a_model_and_complete_your_Zindi_profile_to_qualify_as_a_Trailblazer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import io

uploaded = files.upload()

Saving Test.csv to Test.csv
Saving Train.csv to Train.csv

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_df = pd.read_csv(io.BytesIO(uploaded['Train.csv']))
test_df = pd.read_csv(io.BytesIO(uploaded['Test.csv']))

In [ ]:
train_df.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [ ]:
train_df.describe()

,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_02,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,lat,lon,NL
count,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,...,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.0,2822.0,2822.000000,2822.000000,2822.000000
mean,3665.281214,12869.130053,24.507554,0.712196,0.092616,0.032043,0.006057,0.008665,0.006289,0.022375,...,0.127555,0.041589,0.019655,0.011008,0.110818,0.0,0.0,-26.880740,28.666515,17.437560
std,3266.364522,9696.690518,10.294387,0.214035,0.182852,0.080253,0.019374,0.030697,0.024606,0.037127,...,0.156400,0.057331,0.032926,0.023672,0.185401,0.0,0.0,2.021279,2.373809,18.958621
min,1.000000,402.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,-32.490089,16.760022,0.000000
25%,1778.858235,7071.205695,16.751556,0.594212,0.002895,0.002407,0.000000,0.000000,0.000000,0.002716,...,0.008673,0.002099,0.000715,0.000159,0.005217,0.0,0.0,-28.569019,27.707932,3.033397
50%,2398.249935,9366.989680,24.156670,0.766841,0.010425,0.005762,0.000807,0.000607,0.000865,0.008639,...,0.069065,0.016496,0.005164,0.001459,0.025165,0.0,0.0,-26.549866,28.959679,9.205572
75%,3987.080563,14241.233015,32.226553,0.881708,0.068209,0.027913,0.002538,0.002225,0.003027,0.025218,...,0.183384,0.058626,0.025055,0.009432,0.116638,0.0,0.0,-25.572130,30.441505,26.890531
max,39684.942130,91716.746370,55.528423,0.994962,0.931490,0.951806,0.264239,0.392085,0.435912,0.412936,...,1.000000,0.327393,0.306787,0.228261,0.961523,0.0,0.0,-22.331267,32.858249,63.000000

In [ ]:
train_df.columns.tolist()

['ward',
 'total_households',
 'total_individuals',
 'target',
 'dw_00',
 'dw_01',
 'dw_02',
 'dw_03',
 'dw_04',
 'dw_05',
 'dw_06',
 'dw_07',
 'dw_08',
 'dw_09',
 'dw_10',
 'dw_11',
 'dw_12',
 'dw_13',
 'psa_00',
 'psa_01',
 'psa_02',
 'psa_03',
 'psa_04',
 'stv_00',
 'stv_01',
 'car_00',
 'car_01',
 'lln_00',
 'lln_01',
 'lan_00',
 'lan_01',
 'lan_02',
 'lan_03',
 'lan_04',
 'lan_05',
 'lan_06',
 'lan_07',
 'lan_08',
 'lan_09',
 'lan_10',
 'lan_11',
 'lan_12',
 'lan_13',
 'lan_14',
 'pg_00',
 'pg_01',
 'pg_02',
 'pg_03',
 'pg_04',
 'lgt_00',
 'pw_00',
 'pw_01',
 'pw_02',
 'pw_03',
 'pw_04',
 'pw_05',
 'pw_06',
 'pw_07',
 'pw_08',
 'ADM4_PCODE',
 'lat',
 'lon',
 'NL']

In [ ]:
def combineFeatures(df):

  df['total_dw'] = df['dw_00']*df['dw_01']*df['dw_02'] +\
  df['dw_03']*df['dw_04']* df['dw_05']+df['dw_06']*df['dw_07']*\
  df['dw_08']*df['dw_09']*df['dw_10']*df['dw_11']*df['dw_12']*df['dw_13']
  # for p
  df['total_pg'] = df['pg_00']*df['pg_01']*df['pg_02']* df['pg_03']*df['pg_04']
  # for ps
  df['total_psa'] = df['psa_00']* df['psa_01']*df['psa_02'] * df['psa_03']* df['psa_04']
  # for la
  df['toal_lan'] = df['lan_00']* df['lan_01']*df['lan_02']*df['lan_03']*\
  df['lan_04']*df['lan_05']*df['lan_06']*df['lan_07']*df['lan_08']*df['lan_09']*\
  df['lan_10']*df['lan_11']*df['lan_12']*df['lan_13']*df['lan_14']
  return df

In [ ]:
# train_df['total_pg'] = train_df['pg_00']+train_df['pg_01']+train_df['pg_02']+ train_df['pg_03']+train_df['pg_04']

In [ ]:
# train_df['total_psa'] = train_df['psa_00']+ train_df['psa_01']+train_df['psa_02'] + train_df['psa_03']+ train_df['psa_04']

In [ ]:
# df['toal_lat'] = df['lan_00']+ df['lan_01']+df['lan_02']+df['lan_03']+\
# df['lan_04']+df['lan_05']+df['lan_06']+df['lan_07']+df['lan_08']+df['lan_09']+\
# df['lan_10']+df['lan_11']+df['lan_12']+df['lan_13']+df['lan_14']

In [ ]:
train_df = combineFeatures(train_df)
train_df.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_07,pw_08,ADM4_PCODE,lat,lon,NL,total_dw,total_pg,total_psa,toal_lan
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0,0,ZA4161001,-29.682270,24.734743,0.292039,4.335956e-06,1.328843e-07,3.628273e-08,0.0
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0,0,ZA4161002,-29.119311,24.757737,3.207775,3.843874e-06,4.584815e-08,0.000000e+00,0.0
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0,0,ZA4161003,-29.142276,25.094093,0.000000,3.258106e-05,1.382226e-07,1.509970e-07,0.0
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0,0,ZA4161004,-29.372052,24.942867,2.038778,0.000000e+00,1.788936e-09,8.240652e-08,0.0
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0,0,ZA4161005,-29.409381,25.290165,0.000000,9.198228e-07,2.542189e-07,1.449191e-07,0.0

In [ ]:
train_df['meantotal_households'] = train_df.groupby('total_households')['total_individuals'].transform('mean')

test_df['meantotal_households'] = test_df.groupby('total_households')['total_individuals'].transform('mean')

In [ ]:
test_df = combineFeatures(test_df)

In [ ]:
train_df.shape, test_df.shape

((2822, 68), (1013, 67))

In [ ]:
test_col = test_df.ward
test_col.head()

0    21001001: Ward 1
1    21001002: Ward 2
2    21001003: Ward 3
3    21001004: Ward 4
4    21001005: Ward 5
Name: ward, dtype: object

In [ ]:
train_df.dtypes

ward                     object
total_households        float64
total_individuals       float64
target                  float64
dw_00                   float64
                         ...
total_dw                float64
total_pg                float64
total_psa               float64
toal_lan                float64
meantotal_households    float64
Length: 68, dtype: object

In [ ]:
train_df.columns

Index(['ward', 'total_households', 'total_individuals', 'target', 'dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01',
       'lln_00', 'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04',
       'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11',
       'lan_12', 'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03',
       'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05',
       'pw_06', 'pw_07', 'pw_08', 'ADM4_PCODE', 'lat', 'lon', 'NL', 'total_dw',
       'total_pg', 'total_psa', 'toal_lan', 'meantotal_households'],
      dtype='object')

In [ ]:
X = train_df.drop(['ward','ADM4_PCODE','target'],axis=1)
y = train_df.target

In [ ]:
test = test_df.drop(['ward','ADM4_PCODE'],axis=1)

In [ ]:
X.shape,test.shape

((2822, 65), (1013, 65))

In [ ]:
test.columns == X.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False])

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

warnings.filterwarnings('ignore')
from random import seed
seed = 42
seed = seed
np.random.seed(seed)

In [ ]:
err=[]
y_pred_totcb=[]

fold=KFold(n_splits=5, random_state=1234,shuffle=True)
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    m1 = CatBoostRegressor(random_seed=seed, eval_metric='RMSE',task_type='GPU')
    m1.fit(X_train,y_train,eval_set=[(X_test, y_test)], early_stopping_rounds=500,verbose=100)
    preds = m1.predict(X_test)
    print("err: ",np.sqrt(mean_squared_error(y_test,preds)))
    err.append(np.sqrt(mean_squared_error(y_test,preds)))
    p2 = m1.predict(test)
    y_pred_totcb.append(p2)
np.mean(err)

Learning rate set to 0.06781
0:	learn: 9.7469211	test: 9.8350552	best: 9.8350552 (0)	total: 22.8ms	remaining: 22.7s
100:	learn: 3.0534949	test: 3.4774273	best: 3.4774273 (100)	total: 2.25s	remaining: 20s
200:	learn: 2.6867447	test: 3.3546179	best: 3.3546179 (200)	total: 4.33s	remaining: 17.2s
300:	learn: 2.4495851	test: 3.2949228	best: 3.2949228 (300)	total: 6.39s	remaining: 14.8s
400:	learn: 2.2761067	test: 3.2713297	best: 3.2702018 (398)	total: 8.38s	remaining: 12.5s
500:	learn: 2.1457255	test: 3.2538691	best: 3.2529504 (493)	total: 10.3s	remaining: 10.2s
600:	learn: 2.0466185	test: 3.2375042	best: 3.2374278 (596)	total: 12.2s	remaining: 8.11s
700:	learn: 1.9507450	test: 3.2235878	best: 3.2235878 (700)	total: 14.1s	remaining: 6.02s
800:	learn: 1.8654579	test: 3.2158027	best: 3.2156283 (781)	total: 16s	remaining: 3.98s
900:	learn: 1.7917661	test: 3.2096333	best: 3.2088741 (896)	total: 18s	remaining: 1.98s
999:	learn: 1.7449205	test: 3.2023466	best: 3.2013472 (997)	total: 19.9s	remaining: 0us
bestTest = 3.201347243
bestIteration = 997
Shrink model to first 998 iterations.
err:  3.2013474551422094
Learning rate set to 0.06781
0:	learn: 9.7735074	test: 9.7137636	best: 9.7137636 (0)	total: 25.7ms	remaining: 25.7s
100:	learn: 3.0814185	test: 3.4525456	best: 3.4525456 (100)	total: 1.91s	remaining: 17s
200:	learn: 2.7219509	test: 3.3300209	best: 3.3295644 (198)	total: 3.7s	remaining: 14.7s
300:	learn: 2.4828562	test: 3.2724194	best: 3.2718711 (299)	total: 5.54s	remaining: 12.9s
400:	learn: 2.3090602	test: 3.2455762	best: 3.2455762 (400)	total: 7.34s	remaining: 11s
500:	learn: 2.1960222	test: 3.2378682	best: 3.2354297 (489)	total: 9.13s	remaining: 9.1s
600:	learn: 2.1200733	test: 3.2311893	best: 3.2300758 (565)	total: 10.9s	remaining: 7.26s
700:	learn: 2.0221784	test: 3.2207832	best: 3.2205818 (694)	total: 12.7s	remaining: 5.41s
800:	learn: 1.9548262	test: 3.2125472	best: 3.2115977 (794)	total: 14.4s	remaining: 3.57s
900:	learn: 1.8967075	test: 3.2070533	best: 3.2052791 (879)	total: 16.1s	remaining: 1.77s
999:	learn: 1.8309810	test: 3.1972816	best: 3.1972816 (999)	total: 17.9s	remaining: 0us
bestTest = 3.197281593
bestIteration = 999
err:  3.1972835011411873
Learning rate set to 0.067813
0:	learn: 9.9180652	test: 9.1875302	best: 9.1875302 (0)	total: 18.5ms	remaining: 18.4s
100:	learn: 3.0831091	test: 3.6448820	best: 3.6448820 (100)	total: 1.77s	remaining: 15.8s
200:	learn: 2.7314717	test: 3.5517473	best: 3.5517473 (200)	total: 3.48s	remaining: 13.8s
300:	learn: 2.4967161	test: 3.4859451	best: 3.4859451 (300)	total: 5.17s	remaining: 12s
400:	learn: 2.3180771	test: 3.4386595	best: 3.4385931 (398)	total: 6.87s	remaining: 10.3s
500:	learn: 2.1668162	test: 3.4083053	best: 3.4077821 (492)	total: 8.58s	remaining: 8.55s
600:	learn: 2.0572358	test: 3.3963268	best: 3.3958986 (595)	total: 10.3s	remaining: 6.82s
700:	learn: 1.9698052	test: 3.3893605	best: 3.3888947 (698)	total: 12s	remaining: 5.12s
800:	learn: 1.9071650	test: 3.3724914	best: 3.3724914 (800)	total: 13.6s	remaining: 3.39s
900:	learn: 1.8685674	test: 3.3663151	best: 3.3658345 (857)	total: 15.1s	remaining: 1.66s
999:	learn: 1.8091370	test: 3.3610399	best: 3.3610399 (999)	total: 16.7s	remaining: 0us
bestTest = 3.361039914
bestIteration = 999
err:  3.36103991952522
Learning rate set to 0.067813
0:	learn: 9.6584207	test: 10.2051248	best: 10.2051248 (0)	total: 17.3ms	remaining: 17.3s
100:	learn: 3.0429658	test: 3.6381936	best: 3.6381936 (100)	total: 1.76s	remaining: 15.7s
200:	learn: 2.6524461	test: 3.5001769	best: 3.5001769 (200)	total: 3.53s	remaining: 14s
300:	learn: 2.4607321	test: 3.4579407	best: 3.4579407 (300)	total: 5.18s	remaining: 12s
400:	learn: 2.3020527	test: 3.4220645	best: 3.4220645 (400)	total: 6.83s	remaining: 10.2s
500:	learn: 2.2002627	test: 3.4023598	best: 3.4011352 (492)	total: 8.45s	remaining: 8.41s
600:	learn: 2.0955349	test: 3.3839841	best: 3.3839841 (600)	total: 9.9s	remaining: 6.58s
700:	learn: 2.0079521	test: 3.3665455	best: 3.3665455 (700)	total: 11.5s	remaining: 4.89s
800:	learn: 1.9213601	test: 3.3540716	best: 3.3538249 (798)	total: 13s	remaining: 3.24s
900:	learn: 1.8562643	test: 3.3492355	best: 3.3488744 (850)	total: 14.7s	remaining: 1.61s
999:	learn: 1.8088187	test: 3.3439936	best: 3.3438191 (996)	total: 16.3s	remaining: 0us
bestTest = 3.34381913
bestIteration = 996
Shrink model to first 997 iterations.
err:  3.3438191312124497
Learning rate set to 0.067813
0:	learn: 9.7301891	test: 9.8943870	best: 9.8943870 (0)	total: 19.1ms	remaining: 19.1s
100:	learn: 3.0335712	test: 3.5788126	best: 3.5788126 (100)	total: 1.77s	remaining: 15.8s
200:	learn: 2.6888112	test: 3.4180628	best: 3.4180628 (200)	total: 3.53s	remaining: 14s
300:	learn: 2.4991041	test: 3.3568286	best: 3.3568286 (300)	total: 5.21s	remaining: 12.1s
400:	learn: 2.3629383	test: 3.3239513	best: 3.3238030 (398)	total: 6.71s	remaining: 10s
500:	learn: 2.2432903	test: 3.2956922	best: 3.2952518 (489)	total: 8.27s	remaining: 8.23s
600:	learn: 2.1491004	test: 3.2674197	best: 3.2663770 (598)	total: 9.94s	remaining: 6.6s
700:	learn: 2.0636249	test: 3.2532413	best: 3.2532413 (700)	total: 11.6s	remaining: 4.95s
800:	learn: 1.9742482	test: 3.2380921	best: 3.2380921 (800)	total: 13.3s	remaining: 3.31s
900:	learn: 1.9054190	test: 3.2320182	best: 3.2310524 (889)	total: 15s	remaining: 1.65s
999:	learn: 1.8393027	test: 3.2163492	best: 3.2159294 (998)	total: 16.7s	remaining: 0us
bestTest = 3.215929422
bestIteration = 998
Shrink model to first 999 iterations.
err:  3.2159281506228905

3.263883631528791

In [ ]:
err1=[]
y_pred_totcb1=[]

fold=KFold(n_splits=10, random_state=seed,shuffle=True)
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    m2 = LGBMRegressor(max_depth=-1, random_state=seed,)
    m2.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)], early_stopping_rounds=500,verbose=100,)
    preds = m2.predict(X_test)
    print("err: ",np.sqrt(mean_squared_error(y_test,preds)))
    err1.append(np.sqrt(mean_squared_error(y_test,preds)))
    p2 = m2.predict(test)
    y_pred_totcb1.append(p2)
np.mean(err1)

Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.41289	valid_1's l2: 9.571
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.41289	valid_1's l2: 9.571
err:  3.0937037426118206
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.4364	valid_1's l2: 10.2786
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.4364	valid_1's l2: 10.2786
err:  3.2060294549880766
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.40318	valid_1's l2: 10.8049
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.40318	valid_1's l2: 10.8049
err:  3.28708594845291
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.36546	valid_1's l2: 11.2457
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.36546	valid_1's l2: 11.2457
err:  3.3534583209601716
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.46685	valid_1's l2: 9.71093
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.46685	valid_1's l2: 9.71093
err:  3.11623620246165
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.42174	valid_1's l2: 13.0217
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.42174	valid_1's l2: 13.0217
err:  3.6085561160836788
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.40674	valid_1's l2: 11.2924
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.40674	valid_1's l2: 11.2924
err:  3.3604135931522294
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.48042	valid_1's l2: 11.8266
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.48042	valid_1's l2: 11.8266
err:  3.4389760238012648
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.40224	valid_1's l2: 10.8673
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.40224	valid_1's l2: 10.8673
err:  3.296558053560253
Training until validation scores don't improve for 500 rounds.
[100]	training's l2: 1.40042	valid_1's l2: 10.7913
Did not meet early stopping. Best iteration is:
[100]	training's l2: 1.40042	valid_1's l2: 10.7913
err:  3.2850084153787624

3.3046025871450824

In [ ]:
predic1 = np.mean(y_pred_totcb, 0)

In [ ]:
a = {"target": predic1}

In [ ]:
predic1

array([18.23238659, 13.250559  , 20.15541979, ..., 18.32070313,
       15.44363325, 18.63415901])

In [ ]:
sub = {'ward':test_col,'target':predic1}

In [ ]:
s = pd.DataFrame(sub)
s.to_csv('sub1.csv',index=False)

In [ ]:
#LGB

In [ ]:
predic2 = np.mean(y_pred_totcb1, 0)

In [ ]:
predic2

array([17.27027184, 14.74926474, 18.62008674, ..., 17.87759397,
       14.08596646, 18.74557043])

In [ ]:
sub = {'ward':test_col,'target':predic2}
s = pd.DataFrame(sub)
s.to_csv('sub2.csv',index=False)